.menu-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.menu-link:hover {
	background-color: #b8b8b8; /* Adjust the hover background color as needed */
  }




.menu-bar > a {
	margin: 0 10px;

	background: "lightcyan";
}

@media (max-width: 366px) {
	.menu-bar {
		flex-direction: row;
		align-items: stretch;
	}

	.menu-bar > a {
		margin: 5px 0;
	}
}
